<nav class="navbar-user-top full-reset">
    <ul class="list-unstyled full-reset">
   
        <li><a href="/login" class="zmdi zmdi-account zmdi-hc-2x" data-placement="bottom" title="Ingresar"></a>
        </li>
        
        <li><a href="/signup" class="zmdi zmdi-accounts-add zmdi-hc-2x" data-placement="bottom" title="Registrarse">
        </a></li>

        
        <li class="mobile-menu-button visible-xs" style="float: left !important;">
            <i class="zmdi zmdi-menu"></i>
        </li>
    </ul>
</nav>