
<div class="navbar-lateral full-reset" id="nav">
    <div class="visible-xs font-movile-menu mobile-menu-button"></div>
    <div class="full-reset container-menu-movile custom-scroll-containers">
        <div class="logo full-reset all-tittles">
            <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> UNEXPO SBDIP
        </div>
        <div class="full-reset" style="background-color:#100f3d; padding: 10px 0; color:#fff;">
            <figure>
                <img src="/../assets/icons/libro.ico" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
            </figure>
            <p class="text-center" style="padding-top: 15px;">Biblioteca Digital</p>
        </div>
        
        <div class="full-reset nav-lateral-list-menu">
            <ul class="list-unstyled">
               
                <li><a  href="javascript:seccionInicio()"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
               
                <li><a  href="javascript:seccionCatalogo()" ><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>&nbsp;&nbsp; Catálogo</a></li>
              
                
            <% if (usuarioL.tipo_u == 'estudiante' || usuarioL.tipo_u == 'docente') { %>
                <li>
                    <div class="dropdown-menu-button"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i>&nbsp;&nbsp; Reservaciones y Préstamos <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                    <ul class="list-unstyled">
                        <li ><a  href="javascript: seccionReservar(); "><i class="zmdi zmdi-timer zmdi-hc-fw"></i>&nbsp;&nbsp; Realizar una reservacion</a></li>
                        <li><a  href="javascript:seccionMisR()"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>&nbsp;&nbsp; Mis reservaciones</a></li>
                        <li><a  href="javascript:seccionMisP()"><i class="zmdi zmdi-time-restore zmdi-hc-fw"></i>&nbsp;&nbsp; Mis préstamos</a></li>
                        
                    </ul>
                </li>
            <% } %>
            <li>
                <div class="dropdown-menu-button"><i class="zmdi zmdi-card-membership zmdi-hc-fw"></i>&nbsp;&nbsp; Suscripciones <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                <ul class="list-unstyled">
                    <li ><a  href="javascript: solicitarSuscripcion(); "><i class="zmdi zmdi-card"></i>&nbsp;&nbsp; Solicitar una suscripción</a></li>
                    <li><a  href="javascript:miSolicitud()"><i class="zmdi zmdi-card-membership"></i>&nbsp;&nbsp; Mi suscripción</a></li>
                    
                </ul>
            </li>
                    <li><a href="javascript: seccionConfS()"><i class="zmdi zmdi-key zmdi-hc-fw"></i>&nbsp;&nbsp; Mi configuración de seguridad</a></li>  
                 </li>
                  <li><a  href="javascript:seccionPreguntas()"><i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>&nbsp;&nbsp; Preguntale al Bibliotecario</a></li> 
                <li>
               
                    
            </ul>
        </div>
    </div>
</div>