
<div class="navbar-lateral full-reset" id="nav">
    <div class="visible-xs font-movile-menu mobile-menu-button"></div>
    <div class="full-reset container-menu-movile custom-scroll-containers">
        <div class="logo full-reset all-tittles">
            <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> UNEXPO SBDIP
        </div>
        <div class="full-reset" style="background-color:#100f3d; padding: 10px 0; color:#fff;">
            <figure>
                <img src="/../assets/icons/libro.ico" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
            </figure>
            <p class="text-center" style="padding-top: 15px;">Biblioteca Digital</p>
        </div>
        
        <div class="full-reset nav-lateral-list-menu">
            <ul class="list-unstyled">
               
                <li><a href="javascript:seccionInicio()"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
               
                <li><a href="javascript:seccionCatalogo()" ><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>&nbsp;&nbsp; Catálogo</a></li>
              
                <li><a  href="javascript: solicitarSuscripcionNoR(); "><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>&nbsp;&nbsp; Suscripciones</a></li>
            
                <li><a  href="javascript:seccionPreguntas()"><i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>&nbsp;&nbsp; Preguntale al Bibliotecario</a></li> 
                <li>
                 
                    
            </ul>
        </div>
    </div>
</div>