<nav class="navbar-user-top full-reset">
    <ul class="list-unstyled full-reset">
   
        <li><a href="/login" class="zmdi zmdi-account zmdi-hc-2x" data-placement="bottom" title="Ingresar"></a>
        </li>
        
        <li><a href="/signup" class="zmdi zmdi-accounts-add zmdi-hc-2x" data-placement="bottom" title="Registrarse">
        </a></li>

        <li class="tooltips-general search-book-button" data-href="searchbook.html" data-placement="bottom" title="Buscar libro">
            <i class="zmdi zmdi-search"></i>
        </li>
        <li class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
            <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
        </li>
    </ul>
</nav>