<script>
    $(function() {
        $("#salir").on('click', function () {
          let url =  $("#salir").attr("data-href") ; 
           window.location = url;
        });
      

    });
</script>
<nav class="navbar-user-top full-reset">
    <ul class="list-unstyled full-reset">
        
        <li style="color:#fff; cursor:default;">
            <span class="all-tittles"><%= usuarioL.nombres_u %></span>
        </li>
        
      <li class="tooltips-general" id="salir"   title="Salir del sistema" data-href="/logout"> 
            
            <i class="zmdi zmdi-power">
            
            </i>
            
        </li>
    
        <li class="mobile-menu-button visible-xs" style="float: left !important;">
            <i class="zmdi zmdi-menu"></i>
        </li>
        
    </ul>
</nav>