

<footer class="footer full-reset">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4 class="all-tittles">Acerca de</h4>
                <p>
                    Esta aplicación fue creada por la Br. Zoigelyn Torres, con el fin de cumplir con un requisito exigido por la carrera de ingenieria electrónica en la Universidad Nacional Expermital Politécnica "Antonio José de Sucre" vicerrectorado Barquisimeto Estado Lara.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4 class="all-tittles">Sobre la Institución</h4>
                <ul class="list-unstyled">
                    <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; UNEXPO SBDIP <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i><i class="zmdi zmdi-twitter zmdi-hc-fw footer-social"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright full-reset all-tittles">UNEXPO VICERRECTORADO BARQUISIMETO DIRECCIÓN DE INVESTIGACION Y POSTGRADO(no oficial)</div>
</footer>