<!DOCTYPE html>
<html lang="en">
    <%- include ("partes/cabecera2") %>
<body  style="background-color: rgb(33, 62, 156);">
    <div class="form-container" style="background-color: rgb(33, 62, 156);  " >        
   <div style="position: relative; display: flex;
   align-items: center;">
       <div style="position: absolute; ">
        <p class="text-center"> <p style=" font-weight:bold;
        color: rgb(0, 0, 0); font-size:30px;"><img src="/assets/icons/robot-roto.ico" width= "220" height= "220"> ¡Ups!</p>
        
     
    
      
     </p>
      
<p style="  font-size:20px; color: rgb(0, 0, 0);">La página que intentas solicitar no se encuentra en el servidor (Error: 404) </p>
   
</div>

 </div> 
</div>   
</body>
</html>