<%- include ("partes/cabecera") %>

<script src="/js/jspdf.min.js"></script>
<script src="/js/jspdf.debug.js"></script>

<script >

        function addWaterMark(doc){
              var totalPages = doc.internal.getNumberOfPages();
              for ( var i=1; i<=totalPages; i++) {
                  doc.setPage(i);
                  doc.setTextColor(150);
                  doc.text(50, doc.internal.pageSize.height - 30, 'Watermark');
              
              }
              return doc;
          }
      
          function genPDF(){
  var doc = new jsPDF();
            /*
            let inputFile = $('input[type="file"]');
           doc = inputFile.prop("files")[0];
           if (doc != '') {
            alert(doc);
           }else {
           alert('fine');
           }
           */
            //doc = addWaterMark(doc);
            let inputFile = $('input[type="file"]');
            doc = inputFile.prop("files")[0];
            var file = doc.output();
            alert(doc);
          
      }
          
</script>

<script src="/js/editar-y-eliminar.js"></script>






<body >
  
    <div id="myModal" class="modal fade" >
        <div class="modal-dialog">
          <div class="container-fluid">
               <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="modal-body">
                    
              
                       
                        
                        
                   
                    </div>
                   
                </div>
            
            
                
             </div>
            
        </div>
    </div>
    <div id="myModal2" class="modal fade" >
      <div class="modal-dialog">
        <div class="container-fluid">
             <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body" id="modal-body2">
                <p class="text-center">Se ha actualizado exitosamente</p>
                     
                      
                      
                 
                  </div>
                 
              </div>
          
          
              
           </div>
          
      </div>
  </div>
   <%- include ("partes/navegacionB") %> 
   <div class="content-page-container full-reset custom-scroll-containers" id="contenido">
    
    
       
        <%- include ("partes/navegacionSuperiorB") %> 
        <div class="container" id="p">
            <div class="page-header">
                <h1  class="all-tittles">UNEXPO DIP <small>Libros</small></h1>
            </div>
        </div>
        


            
       
       <div class="container-fluid" style="margin: 20px 0;" >
            <div class="row">
                 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="/assets/img/flat-book.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead" >
                    Bienvenido en esta sección podrás ver, editar y eliminar libros. Podrás realizar una busqueda en especifico o verlos todos.
                </div>
            </div>
        </div>
       
     <div class="container-fluid" style="margin: 0px;">
             <div class="page-header" style="border: none; ">
            <h2 class="text-center" style="background-color:rgb(217, 217, 226) ;" >¿Buscas un libro en particular?</h2>
            <div  class="group-material" >
                <p class="text-center"> <input onchange="ocultarCampos(this)" id="ocultar" name="ocultar" type="checkbox"  value="1" class="tooltips-general" title="no, quiero ver todos los libros">No, quiero ver todos los libros</p>
             </div>
    </div>

        <form class="form-inline" style="text-align:center; " id="formato-enlinea">
            <div class="form-group col-log-2 col-md-4 col-sm-6 col-xs-12">
                <input id="cota_unica"   name="cota" type="text" class="tooltips-general material-control" placeholder="Cota" maxlength="25" data-toggle="tooltip" data-placement="top" title="La cota del libro">
            </div>
            <div class="form-group col-log-2 col-md-4 col-sm-6 col-xs-12">
                    <select onchange="añadirTutor(this)" id="tipo_l_unico" name="tipo_l"  class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Elige la categoría del libro">
                                    <option  disabled="" selected="">Tipo de libro</option>
                                    <option>Libro</option>
                                    <option>Revista</option>
                                    <option>Trabajo de grado</option>
                
                    </select>
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input  id="ejemplar_unico"name="ejemplar" type="number" class="tooltips-general material-control" placeholder="Ejemplar" maxlength="4" data-toggle="tooltip" pattern="^[0-9]+" min="1"  data-placement="top" title="Numero de ejemplares">
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input id="titulo_unico" name="titulo" type="text" class="tooltips-general material-control" placeholder="Titulo" pattern="[Aá-z- 1-9-ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el título o nombre del libro">
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input id="autor_unico" name="autor" type="text" class="tooltips-general material-control" placeholder="Autor"  pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del autor del libro">

            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12" id="div-contenedor">
                <input id="tutor_unico" name="tutor" type="text" class="tooltips-general material-control" placeholder="Tutor" pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del tutor del libro">
            </div>
            
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input id="volumen_unico" name="volumen" type="number" class="tooltips-general material-control" placeholder="Volumen"  maxlength="50" pattern="^[0-9]+" min="1"  data-toggle="tooltip" data-placement="top" title="Escribe el volumen del libro">
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input id="año_unico" name="año" type="text" class="material-control tooltips-general" placeholder="Año"  pattern="[0-9]{1,4}" maxlength="4" data-toggle="tooltip" data-placement="top" title="Solamente números, sin espacios">
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <input id="editorial_unico" name="editorial" type="text" class="material-control tooltips-general" placeholder="Editorial" pattern="[A-z- ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Editorial del libro">
            </div>
            <div class="form-group col-log-3 col-md-4 col-sm-6 col-xs-12">
                <br>
            <button type="submit" class="btn btn-primary">Buscar</button>
            
            <button type="reset" class="btn btn-primary">Limpiar</button>
            </div>
        </form>
     </div>
   
        
       <div id="cargando"></div>
       <div id="container"></div>
    <%- include ("partes/piePagina") %>
</body>

</html>