<!DOCTYPE html>
  <html lang="es">

    <%- include ("partes/cabecera2") %>

<body class="full-cover-background" >
    
    <div class="form-container">
        <p class="text-center" style="margin-top: 17px;">
            <i class="zmdi zmdi-account-circle zmdi-hc-4x"></i>
        </p>
        <h4 class="text-center all-tittles" style="margin-bottom: 30px;">inicia sesión con tu cuenta</h4>
        <% if (mensajeIngreso) { %>
            <div class="text-center">
             <%= mensajeIngreso %> 
            </div>
        <% } %><br> <br>
        <form action="/loginConfig" method="POST" autocomplete="off">

            <div class="group-material-login">
                <input name="correo" type="email" class="material-login-control material-control" required="" maxlength="50">
                <span class="highlight-login"></span>
                <span class="bar-login"></span>
                <label><i class="zmdi zmdi-email"></i> &nbsp; Correo electrónico</label>
            </div><br>
            <div class="group-material-login">
                <input name="clave" type="password" class="material-login-control material-control" required="" maxlength="10">
                <span class="highlight-login"></span>
                <span class="bar-login"></span>
                <label><i class="zmdi zmdi-lock"></i> &nbsp; Contraseña</label>
            </div>
            
            
            <button class="btn-login" type="submit"> Ingresar al sistema &nbsp;<i class="zmdi zmdi-arrow-right"></i></button>
            
        </form>
        
            
        

    </div>
</body>

</html>