<%- include ("partes/cabecera") %>
<script src="/js/jspdf.min.js"></script>
<script src="/js/jspdf.debug.js"></script>

<script >

        function addWaterMark(doc){
              var totalPages = doc.internal.getNumberOfPages();
              for ( var i=1; i<=totalPages; i++) {
                  doc.setPage(i);
                  doc.setTextColor(150);
                  doc.text(50, doc.internal.pageSize.height - 30, 'Watermark');
              
              }
              return doc;
          }
      
          function genPDF(){
  var doc = new jsPDF();
            /*
            let inputFile = $('input[type="file"]');
           doc = inputFile.prop("files")[0];
           if (doc != '') {
            alert(doc);
           }else {
           alert('fine');
           }
           */
            //doc = addWaterMark(doc);
            let inputFile = $('input[type="file"]');
            doc = inputFile.prop("files")[0];
            var file = doc.output();
            alert(doc);
          
      }
          
</script>
<script src="/js/ingresarMaterial.js"></script>

<script>
     function añadirCampoPdf(input){
    var bandera = 1;
    var cota1, cota2, cota, i, m;
   
    
     var elementos = document.getElementsByTagName('input');
     
       var tamaño = elementos.length;
       var elemento1;
       var matrizElementos = new Array();
       
       var matrizIndice = new Array();
       
   for(var j=0; j<tamaño; j++){
       
       cota1 = elementos[j].value;
       cota2 = $(input).val();
       elemento1 = elementos[j].getAttribute('id').charAt(0);
       
       if (elemento1 === "c"){
          
           matrizIndice.push(elementos[j].getAttribute('id').split('-').pop());
           matrizElementos.push(elementos[j].value);
           
       
        if(cota1 === cota2 ){
            
           i = elementos[j].getAttribute('id').split('-').pop();
            
             cota = cota2;
           
          }
       }
   }
   var tamañoM = matrizElementos.length;
   for (var f=0; f<=tamañoM; f++){
       if(cota === matrizElementos[f] && i !== matrizIndice[f]){
           bandera = 0;
           
           $(`div#img-cota-${i}`).html(`<br>
           <img src="/assets/icons/notificacion-error.ico" width= "20" height= "20">
           <br>
           <br>`);
           $(`div#cota-unica-${i}`).html(`<br>Cota repetida con el ejemplar ${matrizIndice[f]}`);
       }  
       }

   if (bandera === 1){
       
       $.ajax({
       
       url: '/bibliotecario/ec',
       type: 'POST',
       data:  {cota: cota}

      })
        .done(function(res){
       if (res === ''){
        $(`div#cota-unica-${i}`).html('');
        $(`div#img-cota-${i}`).html(`
        <img src="/assets/img/satisfactorio.png" width= "20" height= "20">
        `);  
       }else{
        $(`div#cota-unica-${i}`).html(`<p>${res}</p>`);
        $(`div#img-cota-${i}`).html(`
        <img src="/assets/icons/notificacion-error.ico" width= "20" height= "20">`);
     }

     })
      .fail(function(error){
       $(`div#cota-unica-${i}`).html(`<p>Ha ocurrido un error</p>`);
      });
   };
};
</script>


<script>
function numeroLibros(){
    let input = $('input#libros').val();
    if (input>=1){
        
        $('div#cuerpoFormato').html('');
        for (var i=1; i<=input; i++){
            alert('entre '+i);
        $('div#cuerpoFormato').append(`
                               <div  class="group-material" >
                                <span>Categoría</span>
                                <select onchange="tipoTrabajo(this)" id="tipo_l-{i}" name="tipo_l_${i}" required="" class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Elige la categoría del libro">
                                    <option  disabled="" selected="">Selecciona una categoría</option>
                                    <option>Libro</option>
                                    <option>Revista</option>
                                    <option>Trabajo de grado</option>
                
                                </select>
                            </div>
                            
                             
                 <table class="table table-responsive " style="table-layout: fixed; border: none;" id="tb-{i}">
                  <tr>
                           <td  style="width: 30px; overflow: hidden; border: none;">
                            <input  id="ejemplar${i}" name="ejemplar${i}" type="number" class="tooltips-general material-control" placeholder="Ej.${i}" required="" maxlength="4" data-toggle="tooltip" data-placement="top" title="Numero de ejemplar" value="${i}">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>ejemplar</label>
                          
                           </td>
                           <td style="width: 100px; overflow: hidden; border: none;">
                            <input  id="cota-${i}" onchange="añadirCampoPdf(this)"  name="cota_${i}" type="text" class="tooltips-generali material-control" placeholder="Cota" required="" maxlength="25" data-toggle="tooltip" data-placement="top" title="La cota del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cota</label>
                           </td>
                           <td id="imgs-cota" style="width: 20px; overflow: hidden; border: none;">
                            <div class="tooltips-general material-control" id="img-cota-${i}"></div>
                           </td>
                           <td style="width: 50px; overflow: hidden; border: none;">
                                <input id="volumen-${i}" name="volumen_${i}" type="number" class="tooltips-general material-control" placeholder="Volumen" required="" maxlength="50" data-toggle="tooltip" min="1" pattern="^[0-9]+" data-placement="top" title="Escribe el volumen del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Volumen</label>
                           </td>
                           <td style="width: 50px; overflow: hidden; border: none;">
                                <input id="año-${i}" name="año_${i}" type="text" class="material-control tooltips-general" placeholder="Año" required="" pattern="[0-9]{1,4}" maxlength="4" data-toggle="tooltip" data-placement="top" title="Solamente números, sin espacios">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Año</label>
                           </td>
                        </tr>

                        <tr>
                            <td style="width: 30px; overflow: hidden; border: none;"></td>
                            <td id="mensaje-cota" style="width: 200px; border: none; overflow: hidden;"><div id="cota-unica-${i}" ></div></td>
                            <td style="width: 20px; border: none; overflow: hidden;"></td>
                        </tr>
                    
                    </table>
                    <table class="table table-responsive " style="table-layout: fixed; border: none;" id="cuerpo-${i}">
                    <tr>
                        <td style="border: none;">
                            <input id="titulo-${i}" name="titulo_{i}" type="text" class="tooltips-general material-control" placeholder="Titulo" required="" pattern="[Aá-z- 1-9-ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el título o nombre del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Título</label></td>
                        <td style=" border: none;">
                            <input id="autor-${i}" name="autor_${i}" type="text" class="tooltips-general material-control" placeholder="Autor" required="" pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del autor del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Autor</label></td>
                     <!--   <td style=" border: none;" id="tutor" ></td>-->
                        <td style=" border: none;">
                            <input id="editorial-${i}" name="editorial_${i}" type="text" class="material-control tooltips-general" placeholder="Editorial" required="" pattern="[A-z- ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Editorial del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Editorial</label>
                        </td>
                    </tr>
                    </table>
             <table class="table table-responsive " style="table-layout: fixed; border: none;" >      
                <tr id="tr-pdf-${i}" style="border: none;">
                    <td  style="width: 200px; overflow: hidden; border: none;" >
                        <input onchange="comprobarF(this)" id="pdf-${i}" name="pdf_${i}" type="file" class="material-control tooltips-general"required=""  data-toggle="tooltip" data-placement="top" title="Archivo PDF">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label >Archivo PDF</label>

                    </td>
                    <td  style="width: 30px; overflow: hidden; border: none;" id="img-pdf-1">

                    </td>
                </tr>
                <tr id="tr2-pdf-1">
                    <td style="width: 200px; overflow: hidden; border: none;"><p class="text-center" id="formato-pdf-1"></p></td>
                    <td style="width: 30px; overflow: hidden; border: none;">
                    </td>
                </tr>
            </table>

                        <div  class="group-material" >
                           <p class="text-center"> <input onchange="mostrarCampo(this)" id="mostrar" name="mostrar" type="checkbox"  value="1" class="tooltips-general" title="Incluye PDF">No incluye archivo PDF</p>
                        </div>`);
                    }
    }
}
</script>

<body >
  
    
   
    
    <%- include ("partes/navegacionB") %> 
   <div class="content-page-container full-reset custom-scroll-containers">
        <%- include ("partes/navegacionSuperiorB") %> 
        <div class="container">
            <div class="page-header">
                <h1  class="all-tittles">UNEXPO DIP <small>Añadir varios Libros</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li class="active"><a href="/bibliotecario/insert">Añadir un libro</a></li>
                <li><a href="/bibliotecario/insert/varios">Añadir varios libros</a></li>
               
            </ul>
        </div>
       <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="/assets/img/flat-book.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para agregar nuevos libros a la biblioteca, deberas de llenar todos los campos para poder registrar el libro.

                    Puedes registrar uno o varios libros con diferentes archivo PDF.
                </div>
            </div>
        </div>
       <!-- <p class="text-center">
            <a onclick="javascript:genPDF()">aqui has click</a>
        </p>-->
        <div class="container-fluid">
          
            <form  autocomplete="off" enctype="multipart/form-data" id="formato">
              
                <div class="container-flat-form">
                   
                    <div class="title-flat-form title-flat-blue">Nuevo libro</div>
                    <div class="row">
                       
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2" >
                            <legend><strong>Información básica</strong></legend><br>
                          
                            <div class="group-material">
                                <input  id="libros" onchange="numeroLibros()" name="libros" type="number" class="tooltips-general material-control" placeholder="Escribe aquí el numero de libros" required="" maxlength="4" pattern="^[0-9]+" min="1" data-toggle="tooltip" data-placement="top" title="Numero de libros">
                                 <span class="highlight"></span>
                                 <span class="bar"></span>
                                 <label>Número de libros</label>
                                 
                             </div>
                        <div id="cuerpoFormato">
                            <div  class="group-material" >
                                <span>Categoría</span>
                                <select onchange="tipoTrabajo(this)" id="tipo_l" name="tipo_l" required="" class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Elige la categoría del libro">
                                    <option  disabled="" selected="">Selecciona una categoría</option>
                                    <option>Libro</option>
                                    <option>Revista</option>
                                    <option>Trabajo de grado</option>
                
                                </select>
                            </div>
                            
                             
                 <table class="table table-responsive " style="table-layout: fixed; border: none;" id="tb">
                  <tr>
                           <td  style="width: 30px; overflow: hidden; border: none;">
                            <input  id="ejemplar1" name="ejemplar1" type="number" class="tooltips-general material-control" placeholder="Ej.1" required="" maxlength="4" data-toggle="tooltip" data-placement="top" title="Numero de ejemplar" value="1">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>ejemplar</label>
                          
                           </td>
                           <td style="width: 100px; overflow: hidden; border: none;">
                            <input  id="cota-1" onchange="añadirCampoPdf(this)"  name="cota_1" type="text" class="tooltips-general material-control" placeholder="Cota" required="" maxlength="25" data-toggle="tooltip" data-placement="top" title="La cota del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Cota</label>
                           </td>
                           <td id="imgs-cota" style="width: 20px; overflow: hidden; border: none;">
                            <div class="tooltips-general material-control" id="img-cota-1"></div>
                           </td>
                           <td style="width: 50px; overflow: hidden; border: none;">
                                <input id="volumen" name="volumen" type="number" class="tooltips-general material-control" placeholder="Volumen" required="" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el volumen del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Volumen</label>
                           </td>
                           <td style="width: 50px; overflow: hidden; border: none;">
                                <input id="año" name="año" type="text" class="material-control tooltips-general" placeholder="Año" required="" pattern="[0-9]{1,4}" maxlength="4" data-toggle="tooltip" data-placement="top" title="Solamente números, sin espacios">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Año</label>
                           </td>
                        </tr>

                        <tr>
                            <td style="width: 30px; overflow: hidden; border: none;"></td>
                            <td id="mensaje-cota" style="width: 200px; border: none; overflow: hidden;"><div id="cota-unica-1" ></div></td>
                            <td style="width: 20px; border: none; overflow: hidden;"></td>
                        </tr>
                    
                    </table>
                    <table class="table table-responsive " style="table-layout: fixed; border: none;" id="cuerpo">
                    <tr>
                        <td style="border: none;">
                            <input id="titulo" name="titulo" type="text" class="tooltips-general material-control" placeholder="Titulo" required="" pattern="[Aá-z- 1-9-ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el título o nombre del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Título</label></td>
                        <td style=" border: none;">
                            <input id="autor" name="autor" type="text" class="tooltips-general material-control" placeholder="Autor" required="" pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del autor del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Autor</label></td>
                     <!--   <td style=" border: none;" id="tutor" ></td>-->
                        <td style=" border: none;">
                            <input id="editorial" name="editorial" type="text" class="material-control tooltips-general" placeholder="Editorial" required="" pattern="[A-z- ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Editorial del libro">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Editorial</label>
                        </td>
                    </tr>
                    </table>
             <table class="table table-responsive " style="table-layout: fixed; border: none;" >      
                <tr id="tr-pdf-1" style="border: none;">
                    <td  style="width: 200px; overflow: hidden; border: none;" >
                        <input onchange="comprobarF(this)" id="pdf-1" name="pdf" type="file" class="material-control tooltips-general"required=""  data-toggle="tooltip" data-placement="top" title="Archivo PDF">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label >Archivo PDF</label>

                    </td>
                    <td  style="width: 30px; overflow: hidden; border: none;" id="img-pdf-1">

                    </td>
                </tr>
                <tr id="tr2-pdf-1">
                    <td style="width: 200px; overflow: hidden; border: none;"><p class="text-center" id="formato-pdf-1"></p></td>
                    <td style="width: 30px; overflow: hidden; border: none;">
                    </td>
                </tr>
            </table>

                        <div  class="group-material" >
                           <p class="text-center"> <input onchange="mostrarCampo(this)" id="mostrar" name="mostrar" type="checkbox"  value="1" class="tooltips-general" title="Incluye PDF">No incluye archivo PDF</p>
                        </div>
                       </div>
                            <p class="text-center">
                                <button onclick="resetear()" id="reset" type="reset" class="btn btn-info" style="margin-right: 20px;"><div><i class="zmdi zmdi-roller"></i></div><p>&nbsp;&nbsp; Limpiar</p> </button>
                                <button id="guardar" type="submit" class="btn btn-primary" ><div id="estatus">
                            <i class="zmdi zmdi-floppy"></i>
                               </div> <p id="boton">&nbsp;&nbsp; Guardar</p> </button>
                                
                               <div id="mensaje"></div>
                           </p>
                        
                        </div>
                        
                    </div>
                    
                </div>
            </form>
            
            
       
        </div>
 
       <%- include ("partes/piePagina") %>
    </div>
</body>

</html>