<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')
    </script>
     <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="/js/jspdf.min.js"></script>

<script src="/js/jspdf.debug.js"></script>
<script>
    $(function () {
        
            function addWaterMark(doc){
            var totalPages = doc.internal.getNumberOfPages();
            for (i = 1; 1 <= totalPages; i++) {
                doc.setPage(i);
                doc.setTextColor(150);
                doc.text(50, doc.internal.pageSize.height - 30, 'Watermark');
            
            }
            return doc;
        }
        function getPDF(){
          var doc = new jsPdf('p', 'pt');
          doc.text(20, 20, 'hello word');
         doc = addWaterMark(doc);
        doc.save('test');
          
        }
       
        let inputFile = $('input[type="file"]');
        let formato = $('form#formato');
        let tipo_l = $('select#tipo_l');
        let cota = $('input#cota');
        let titulo = $('input#titulo');
        let autor = $('input#autor');
        let año = $('input#año');
        let volumen = $('input#volumen');
        let tutor = $('input#tutor');
        let editorial = $('input#editorial');

        
        inputFile.on('change', function() {
            var ext = inputFile.val().split('.').pop().toLowerCase();
            if (inputFile.val() != '') {
                 if(ext == "pdf"){
                     var dato_archivo = inputFile.prop("files")[0];
                    alert('fine');
            
                 }else{
                     alert('Debe ser un archivo pdf');
                 }
                }
            });
           
        formato.on('submit', function() {
            alert('very fine');
            var form_data = new FormData();
            form_data.append("cota", formato.attr("cota"));
            form_data.append("titulo", titulo.val());
            form_data.append("autor", autor.val());
            form_data.append("volumen", volumen.val());
            form_data.append("año", año.val());
            form_data.append("editorial", editorial.val());
            form_data.append("tipo_l", tipo_l.val());
            $.ajax({
                url:'/bibliotecario/insertar',
                type: 'POST',
                dataType: 'text',
                processData: false,
                data: form_data
            }).done( function(respuesta){
                alert(respuesta);
            }).fail( function() {
                alert('fallida');
            });
        });
    });
   
</script>
<body id="prueba">
   
       
       <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="/assets/img/flat-book.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para agregar nuevos libros a la biblioteca, deberas de llenar todos los campos para poder registrar el libro
                </div>
            </div>
        </div>
        <div class="container-fluid">
          
            <form  method="POST" autocomplete="off" enctype="multipart/form-data"id="formato">
              
                <div class="container-flat-form">
                    <div class="title-flat-form title-flat-blue">Nuevo libro</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <legend><strong>Información básica</strong></legend><br>
                          
                            <div  class="group-material">
                                <span>Categoría</span>
                                <select id="tipo_l" name="tipo_l"  class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Elige la categoría del libro">
                                    <option  disabled="" selected="">Selecciona una categoría</option>
                                    <option>Libro</option>
                                    <option>Revista</option>
                                    <option>Trabajo de  grado</option>
                
                                </select>
                            </div>
                           
                                
                               
                            <div class="group-material">
                                <span>Rama</span>
                                <select class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Elige la categoría del libro">
                                    <option value="" disabled="" selected="">Selecciona una categoría</option>
                                    <option value="categoria">Eléctrica</option>
                                    <option value="categoria">Electrónica</option>
                                    <option value="categoria">Metalúrgica</option>
                                    <option value="categoria">Química</option>
                                    <option value="categoria">Mecánica</option>
                                    <option value="categoria">Industrial</option>
                                </select>
                            </div>
                            <div class="group-material">
                                <input id="cota" name="cota" type="text" class="tooltips-general material-control" placeholder="Escribe aquí la cota del libro" required="" maxlength="25" data-toggle="tooltip" data-placement="top" title="La cota del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Cota</label>
                            </div>
                            <div  class="group-material">
                                <input id="titulo" name="titulo" type="text" class="tooltips-general material-control" placeholder="Escribe aquí el título o nombre del libro" required="" pattern="[Aá-z- 1-9-ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el título o nombre del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Título</label>
                            </div>
                            <div name="autor" class="group-material">
                                <input id="autor" name="autor" type="text" class="tooltips-general material-control" placeholder="Escribe aquí el autor del libro" required="" pattern="[Áa-z- -ñ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del autor del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Autor</label>
                            </div>
                            <div name="volumen" class="group-material">
                                <input id="volumen" name="volumen" type="number" class="tooltips-general material-control" placeholder="Escribe aquí el volumen del libro" required="" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el volumen del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Volumen</label>
                            </div>

                            <div  class="group-material">
                                <input id="año" name="año" type="text" class="material-control tooltips-general" placeholder="Escribe aquí el año del libro" required="" pattern="[0-9]{1,4}" maxlength="4" data-toggle="tooltip" data-placement="top" title="Solamente números, sin espacios">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Año</label>
                            </div>
                            <div name="editorial" class="group-material">
                                <input id="editorial" name="editorial" type="text" class="material-control tooltips-general" placeholder="Escribe aquí la editorial del libro" required="" pattern="[A-z- ]{1,}" maxlength="70" data-toggle="tooltip" data-placement="top" title="Editorial del libro">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Editorial</label>
                            </div>
                           
            
                          
                            <div class="group-material" id="container">
                                <input id="pdf" type="file" name="pdf" class="tooltips-general material-control" data-toggle="tooltip" data-placement="top" title="Archivo PDF">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Archivo PDF</label>

                            </div>
                         
                            
                            <p class="text-center">
                                <button  type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button id="enviar"  type="submit" class="btn btn-primary" ><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                           </p>
                        </div>
                    </div>
                </div>
            </form>
           
                                <a href="javascript: getPDF">&nbsp;&nbsp; Guardar</a> 
            
       
        </div>
        
       
</body>

</html>