<!DOCTYPE html>
  <html lang="es">
<%- include ("partes/cabecera2") %>

<body class="full-cover-background" >
    
    <div class="form-container">
        <p class="text-center" style="margin-top: 600px;">
            <i class="zmdi zmdi-help-outline  zmdi-hc-4x"></i>
        </p>
        <h4 class="text-center all-tittles" style="margin-bottom: 30px;">Ingresa las preguntas de seguridad</h4>
        
        <form action="/preguntas" method="POST">

            <div class="group-material">
                <input name="pregunta_1" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 1">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 1</label>
            </div>
            <div class="group-material">
                <input name="pregunta_2" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 2">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 2</label>
            </div>
            <div class="group-material">
                <input name="pregunta_3" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 3">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 3</label>
            </div>
            <div class="group-material">
                <input name="pregunta_4" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 4">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 4</label>
            </div>
            <div class="group-material">
                <input name="pregunta_5" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 5">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 5</label>
            </div>
            <div class="group-material">
                <input name="pregunta_6" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 6">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 6</label>
            </div>
            <div class="group-material">
                <input name="pregunta_7" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 7">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 7 </label>
            </div>
            <div class="group-material">
                <input name="pregunta_8" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 8">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 8</label>
            </div>
            <div class="group-material">
                <input name="pregunta_9" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 9
                <span class="bar"></span>
                <label>Pregunta 9</label>
            </div>
            <div class="group-material">
                <input name="pregunta_10" type="text" class="material-control material-control-login" placeholder="Pregunta" required="" maxlength="200" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Pregunta 10">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Pregunta 10</label>
            </div>
            
            <br>
            <br>
            <button class="btn-login" type="submit"> Guardar &nbsp;<i class="zmdi zmdi-arrow-right"></i></button>
            
        </form>
        

        

    </div>
</body>

</html>